<launch>
    <arg name="robot_type" default="dm" doc="Robot type: [yks]"/>
    
    <!-- <param name="legged_robot_description" command="$(find xacro)/xacro $(find legged_dm_description)/urdf/dm.urdf -->
    <param name="legged_robot_description" command="$(find xacro)/xacro $(find wanren_arm)/urdf/wanren_arm.urdf
        robot_type:=$(arg robot_type) "/>
    <param name="manual_topic_override" value="true"/>
    <param name="manual_cmd_timeout" value="0.2"/>
    <rosparam file="$(find leftarm_dm_hw)/config/$(arg robot_type).yaml" command="load"/>

    <node name="leftarm_dm_hw" pkg="leftarm_dm_hw" type="leftarm_dm_hw" respawn="false" clear_params="true" output="screen">
    </node>
    
  <!--<node pkg="yesense_imu" type="yesense_imu_node" name="yesense_imu_node" output="screen" 	respawn="true" respawn_delay="0.002" >
        <param name="yesense_port"      type="string" value="/dev/ttyACM1"/>
        <param name="yesense_baudrate"  type="int"    value="460800"/>
    </node>-->
	
   <!--<node pkg="dm_imu" type="dm_imu_node" name="dm_imu_node" required="true" output = "screen" >
    <param name="port"  type="string" value="/dev/ttyACM1" />
    <param name="baud"  type="int"    value="921600"/>
  </node>-->
  	
</launch>
